{% extends 'base.html.twig' %}

{% block title %}
    {{ 'form.confirm.title' | trans }}
{% endblock %}

{% block body %}
    <div class="p-profile">
        <div class="modal modal--confirm">
            <div class="modal__header">
                {{ block('title') }}
            </div>
            <div class="modal__body">

                {% if error %}
                    <div class="alert alert--danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% elseif app.session.flashBag.has('success') %}
                    {% for message in app.session.flashBag.get('success') %}
                        <div class="alert alert--success">
                            {{ message | trans }}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert--warning">
                        {{ 'form.confirm.notice' | trans }}
                    </div>
                {% endif %}

                {{ form_start(form, {'attr': {'class': 'form form--confirm', 'novalidate': true}}) }}
                {{ form_errors(form) }}

                {{ form_row(form.username, {'attr': {'placeholder': 'form.placeholder.email', 'autofocus': true}}) }}
                {{ form_row(form.checkword) }}
                {{ form_row(form.password) }}

                {{ form_widget(form.confirm) }}

                <div class="links-group">
                    <a class="links-group__link" href="{{ path('profile:login') }}">{{ 'form.profile.login_link' | trans }}</a>
                    <a class="links-group__link" href="{{ path('profile:checkword', {'username': app.request.get('username')}) }}">{{ 'form.confirm.checkword_link' | trans }}</a>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}