{% set nav = [
    ['tabs.properties', 'properties'],
    ['tabs.permissions', 'permissions', not storage.isDirectory],
    ['tabs.versions', 'versions', not storage.isDirectory, storage.uuid ? path('storage:versions:index', {'uuid': storage.uuid}) : null],
] %}
{{ form_start(form) }}

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert--success">
        {{ message | trans }}
    </div>
{% endfor %}

<div class="tabs">
    <ul class="tabs__nav">
        {% for item in nav %}
            {% if item[2] is not defined or item[2] is same as (true) %}
            <li class="tabs__item">
                <a class="tabs__link{% if loop.first %} tabs__link--active{% endif %}" href="{{ item[3] is defined and item[3] ? item[3] : '#' ~ item[1] }}" data-toggle="tab" data-target="#{{ item[1] }}"{% if item[3] is defined and item[3] %} data-remote="true"{% endif %}>{{ item[0] | trans({}, 'storage') }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tabs__panels">
        {% for item in nav %}
            {% if item[2] is not defined or item[2] is same as (true) %}
            <div class="tabs__panel{% if loop.first %} tabs__panel--active{% endif %}" id="{{ item[1] }}"{% if item[3] is defined %} data-ajax="true" data-history="false"{% endif %}>
                {{ include('/storage/storage/_form_' ~ item[1] ~ '.html.twig') }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="tabs__footer">
        {{ form_widget(form.save) }}
        {{ form_widget(form.apply) }}
        <a href="{{ path('storage:index', {'uuid': storage.parent.uuid}) }}" class="btn btn--default">
            {{ 'form.button.cancel' | trans }}
        </a>
    </div>
</div>
{{ form_end(form) }}