{{ form_start(form, {'attr': {'novalidate': true}}) }}
<div class="modal__header">
    <span>{{ 'form.title' | trans({}, 'access') }}</span>
    <svg width="24" height="24" data-dismiss="modal"><use xlink:href="#svg-close"></use></svg>
</div>
<div class="modal__body modal__body--form">
    {{ form_row(form.roles) }}
    {{ form_row(form.scope) }}
    <div id="spreadsheet-items">
        {{ form_row(form.items) }}
    </div>
</div>
<div class="modal__footer">
    {{ form_widget(form.cancel) }}
    {{ form_widget(form.save) }}
</div>
{{ form_end(form) }}