{% extends "main.html.twig" %}

{% block content %}

    <div class="spreadsheet" id="spreadsheet">
        {% block spreadsheet %}
            {{ include('_spreadsheet.html.twig') }}
        {% endblock %}
    </div>

{% endblock %}

{% block modals %}
    {{ parent() }}
    <div class="modal" id="confirm-modal">
        <div class="modal__container modal__container--confirm"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('spreadsheet') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('spreadsheet') }}
{% endblock %}